<p id="notice"><%= notice %></p>

<%= render partial: "work_table", locals: {header: "Albums", works: @albums} %>
<%= render partial: "work_table", locals: {header: "Books", works: @books} %>
<%= render partial: "work_table", locals: {header: "Movies", works: @movies} %>




<%= link_to 'New Work', new_work_path %>
