<p id="notice"><%= notice %></p>

<%= render partial: "spotlight", locals: {work: @spotlight} %>


<section class="top-ten__container">
  <%= render partial: "top_ten", locals: {category_title: "Albums", works: @albums} %>
  <%= render partial: "top_ten", locals: {category_title: "Books", works: @books} %>
  <%= render partial: "top_ten", locals: {category_title: "Movies", works: @movies} %>
</section>


<br>

<%= link_to 'New Work', new_work_path %>
