<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %>" role="alert">
        <%= message.html_safe %>
      </div>
    <% end %>
​
    <header class="text-center"></header>


    <header class="app-header__header">
    <h1>
      <a href="/">Media Ranker</a>
      <br>
      <small>Ranking the Best of Everything</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <%= link_to "View Top Media", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works">View all media</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/works/new">Add a new work</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/login">Log In</a>
        </li>

      </ul>
    </nav>
  </header>
​
    <main role="main">
      <%# render "shared/nav" %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>

  